# TMDB API Key (obtain from https://www.themoviedb.org/settings/api)
TMDB_API_KEY=""
# TMDB Base URL (use https://api.tmdb.org/3 or https://api.themoviedb.org/3)
TMDB_BASE_URL=https://api.tmdb.org/3

# MongoDB Connection String
MONGODB_URI=""

# Server Port
PORT=5000
